
<% if @current_user %>
<div class="container mt-1 p-1">
  <h1 class="ft-3">New Place</h1>
  <%= form_with :model => @place do |form| %>
    <div class="mb-3">
      <%= form.label "name", :class => "form-label" %>
      <%= form.text_field "name", :class => "form-control" %>
    </div>
    <%= form.submit "Create Post", :class => "btn btn-primary" %>
      <% end %>   
    <% else %>
    You must first <a href="/login">login</a> to post.
  <% end %>   

  